doctype html
html(ng-app="portalApp")
    head
        title= title
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/portal.css')
        script(src="/js/angular/angular.js")
        script(src="/js/angular/angular-resource.js")
        script(src="/js/angular/angular-route.js")
        script(src="/js/angular/angular-cookies.js")
        script(src="/js/angular/ui-bootstrap-tpls-0.11.0.min.js")
        script(src="/js/jquery/jquery-1.10.2.js")
        script(src="/js/flot/jquery.flot.js")
        script(src="/js/flot/jquery.flot.selection.js")
        script(src="/js/flot/jquery.flot.stack.js")
        script(src="/js/flot/jquery.flot.time.js")
        script(src="/js/flot/jquery.flot.pie.js")

        script(src="/js/portal/controllers.js")
        script(src="/js/portal/services.js")
        script(src="/js/portal/app.js")
        script(src="/js/portal/directives.js")

        meta(name="description" content="")
        meta(name="author" content="Anthony Woods")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    body
        block content
    
    
